@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'input output';

}

.input {
    grid-area: input;
}

.input input {
    border: solid 2px black;
}

.output {
    grid-area: output;
}

.output p {
    border: solid 2px black;
}